body {
  background: rgba(255, 222, 143, 0.44);

}

.nfc-thief-nav {
  //height: 50px;
  background-color: #009dff !important;

  .wizer-logo {
    color: white !important;
    margin-right: 3%;
  }

}

